* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:sans-serif ;
}
body{
  background-color: #abc4ff;
  max-width: 100vw;
}
.loading{
  margin-top: 100px;
  text-align: center;
  font-size: 2rem;
}
img{
  width: 600px;
  height: 400px;
}